
.Header-font {
  font-family: "Quicksand", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  margin: 0 140px 80px 140px;
}


.paragraph-font {
  font-family: "Raleway", serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

/* header style area */
#marq{
    color: white;
    font-weight: 700;
    background-color: #506fb6;
    border-radius: 3px;
    
}
.main-nav{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
}
.logo-header{
    display: flex;
    
}
.logo{
    height: 50px;
    width: 50px;
    margin-top: 20px;
    margin-right: 5px;
}
.logo-title{
    font-size: 1.7rem;
    font-weight: 700;
}
.nav-element, ul{
    display: flex;
    list-style: none;
    
    
}
.nav-element, ul li{
    padding: 15px;
    
}
.nav-element, li, a{
    text-decoration: none;
}
#first-link{
    color: orange;
}
#second-link{
    color: skyblue;
}
#third-link{
    color: rgba(5, 212, 223, 1);
}
#fourth-link{
    color: rgba(93, 88, 239, 1);
}
.primary-btn{
    background-color: orange;
    border: none;
    border-radius: 9px;
    text-align: center;
    padding: 8px 40px 11px 40px;
    transition: 0.4s ease-in-out;
}
.primary-btn:hover{
    background-color: #22a747;
    cursor: pointer;
}
#manu-nevigation{
    display:none;
}

.main-btn-text{
    font-size: 1.2rem;
    font-weight: 500;
    color: white;
    
}
/* banner area style */
.banner-contents{
    display: flex;

}
.banner{
    margin-top: 130px;
}
.banner-heading{
    font-size: 3rem;
    font-weight: 700;
    margin: 5px 0 15px 0;
}
#emp{
   color: orange; 
}
#twd{
    color: skyblue;
}
.heading-pra{
    font-size: 1.2rem;
}
.banner-btn{
    margin:0 auto;
    
}
.btnn{
    background-color: rgb(5, 5, 5);
    border: none;
    border-radius: 9px;
    text-align: center;
    padding: 8px 40px 11px 40px;
    transition: 0.4s ease-in-out;
}
.btnn:hover{
    background-color: #22a747;
    cursor: pointer;
}
#baner-btnn{
    font-size: 1.1rem;
    font-weight: 500;
    color: white;
    margin-top: 10px;
}
.image{
    margin-left: 50px;
}
/* main area style */

.main-cart{
    background-image: url(/assets/bg.png);
  
   
   
}
.sub-cart{
    margin: 50px 140px 80px 140px;
   
}
.cart-title{
    font-size: 2.3rem;
    font-weight: 700;
    font-family: "Quicksand", serif;
    text-align: center;
    margin-bottom: 80px;
    
}
.cart-element{
    display: flex;
    gap: 20px;
    margin: 0 140px 80px 140px;
    background-color: white;

}
.element-item{
    text-align: center;
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    
}
#gradient-1{
    background: linear-gradient(to bottom, #e7f6ff, #ffffff);
   ;
}
#gradient-2{
    background: linear-gradient(to bottom, #fff5dd, #ffffff);;
}
#gradient-3{
    background: linear-gradient(to bottom, #f1dcff, #ffffff);
}

.element-item h4{
    font-family: "Quicksand", serif;
}
.element-item p{
    font-family:"Raleway", serif;
    color: rgba(128, 128, 128, 1);
    margin-bottom: 45px;
}
#cart-1{
    color: rgba(100, 200, 255, 1);
    font-family: "Quicksand", serif;
}
#cart-2{
    color: rgba(240, 170, 0, 1);
    font-family: "Quicksand", serif;
}
#cart-3{
    color: rgba(135, 0, 255, 1);
    font-family: "Quicksand", serif;
}
.icon-cart {
    justify-content: center;
    text-align: center;
   
}
.icon-cart a{
    padding: 5px;
    background-color: orange;
    margin: 10px;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: 0.4s ease-in-out;
}
.icon-cart a:hover{
    background-color: #22a747;
}
/* our stories areas */
.our-stories{
    background-image: url(/assets/bg.png);
    background-repeat: repeat;
    background-image: cover;
}
.our-div{
   
    padding-bottom: 30px;
}
.stories-title{
    font-size: 2.3rem;
    font-weight: 700;
    font-family: "Quicksand", serif;
    text-align: center;
    margin-top:100px;
}
.all-stories{
     display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    
}
.first-img{
    margin-left:140px  ;
    margin-bottom:  10px;
    border-radius: 10px;
    background-color: #f0fafa;
    margin-right: 5px;

}

.first-img img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: 100%;
}
.badge-btn{
    border-radius:25px ;
    background-color: rgba(60, 216, 232, 1);
    border: none;
    padding: 10px;
    transition: 0.4s ease-in-out;
}
.badge-btn:hover{
    background-color: #22a747;
    cursor: pointer;
}
.badge-btn {
    margin-left: 50px;
    margin-top: -50px;
}
.first-img button a{
    font-family: "Raleway", serif; 
    color: white;
    
}
.first-img h4{
    font-family: "Quicksand", serif;
    font-weight: 700;
    font-size: 1.4rem;
   padding-left: 30px;
   padding-right: 30px;
}
.first-img p{
    padding-left: 30px;
    padding-right: 30px;
    font-family:"Raleway", serif; 
    padding-bottom: 30px;
}
.four-img{
    display: flex;
    flex-direction: rows;
    flex-wrap: wrap;
    gap: 15px;
    margin-left: 20px;
    
    
    
 }
 .all-img{
    background-color: #f0fafa;
    border-radius: 10px;
 }
 
.all-img img{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    width: auto;
}
.all-img button {
    border-radius:25px ;
    background-color: rgba(149, 178, 38, 1);
    border: none;
    padding: 8px;
    margin-left: 50px;
    margin-top: -50px;
    transition: 0.4s ease-in-out;
}
.all-img button:hover{
    background-color: #22a747;
    cursor: pointer;
}
.all-img button a{
    color:white;
    font-family: "Raleway", serif; 
    padding:5px;
}
.all-img h5{
    font-family: "Quicksand", serif;
    font-weight: 700;
    padding: 0 30px 0 30px;
}
#backgorud-other{
    background-color: rgba(93, 88, 240, 1);
    transition: 0.4s ease-in-out
}
#backgorud-other:hover{
    background-color: #22a747;
    cursor: pointer;
}
#stories-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 80px 0 60px 0; 
    ;
   
}

#stories-btn button{
    background-color: rgb(5, 5, 5);
    border: none;
    border-radius: 9px;
    text-align: center;
    padding: 10px 40px 11px 40px;
    transition: 0.4s ease-in-out;
}
#stories-btn button:hover{
    background-color: #22a747;
    cursor: pointer;
}
#stories-btn button a{
    font-size: 1.1rem;
    font-weight: 500;
    color: white;
    margin-top: 10px;
}
/* footer area style */

footer{
    background-color: rgb(15 111 108);
    padding: 50px 140px 20px 140px;
}
.footer-font{
    font-family: "Quicksand", serif;
}
.main-footer{
    display: flex;
    justify-content: space-between;
}
.logo-header{
    margin-bottom: 29px;
}
#footer-header{
    font-size: 2rem;
    font-weight: 700;
    margin: 0 0 5px 0;
}
.footer-element {
    color: white;
    
}
.footer-element li a{
    color: white;
    
}


/* responsive area style */

@media screen and (max-width:576px){
    .logo-title, .button{
        display: none;
        
    }
   .Header-font{
        margin: 0 auto;
    }
    #marq{
        margin: 0 0 0 5px;
        width: 576px;
        color: white;
    }
    .logo{
        margin-left: 10px;
    }
    .main-nav{
        border-bottom: 2px solid orange;
        width: 576px;
        margin: 0 0 0 5px;
    }
    #manu-nevigation{
        display:inline-block;
        background-color: red;
    }
    .banner-contents{
        flex-direction: column-reverse;
        margin: 0 0 0 5px;
    }
    .banner{
        margin-top: 42px;
        width: 576px;
        text-align: center;
    }
    .banner-btn{
        margin-top: 10px;
    }
    .main-cart{
        width: 576px;
    }
    .cart-element{
        width: 100%;
        flex-direction: column;
        margin: 0 0 0 5px;
    }
    .our-stories{
        width: 576px;
    }
    .first-img{
        display: none;
    }
    .four-img{
        display: grid;
        grid-template-columns: repeat(2,1fr);
        width: 576px;
        justify-content: center;
    }
    .main-footer{
        flex-direction: column; 
        justify-content: left;  
    }
    .footer-font{
        width: 315px;
    }
}